.font {

    font-family: 'Poppins', sans-serif;
}

.org {

    color: orange;
}

section {

    display: flex;
    margin-bottom: 100px;
}

.half-width {

    width: 50%;

}

.half-width img {
    width: 80%;
}

.decoration {
    text-decoration: none;
    color: rgb(201, 220, 201);
    background-image: linear-gradient(rgb(14, 199, 5), rgb(15, 0, 4));
    border: black;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;

}

.decoration2 {
    text-decoration: none;
    color: rgb(201, 220, 201);
    background-image: linear-gradient(rgb(14, 199, 5), rgb(15, 0, 4));
    border: black;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;

}

.margin {
    margin-left: 10px;
}